@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --hex1: #0F4B80;
    --hex2: #11538C;
    --hex3: #1878CC;
    --hex4: #0C3C66;
    --hex5: #082640;
    --hex6: #051524;
    --hex7: #e1ebf5;
    --hex8: #99a5b3;
}

body {
    font-family: 'Concert One', system-ui;
    margin: 0;
    padding: 0;
}

button:hover, .btn-close:hover {
    background-color: var(--hex3);
    border: 1px solid var(--hex7);
    transform: scale(1.15);
    transition: all 0.6s;
}

button:active, .btn-close:active {
    background-color: var(--hex5);
    border: 1px solid var(--hex4);
    transition: all 0.3s;
}

.body--scroll-disable {
    overflow: hidden;
}

.container {
    width: 100%;
    min-width: 300px;
    height: 100%;
    background-color: var(--hex4);
    display: flex;
    justify-content: center;
}

.page {
    width: 90vw;
    min-width: 230px;
    height: 100%;
    min-height: 100vh;
    box-shadow: 0px 0px 15px 4px var(--hex5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.page__top {
    width: 103%;
    height: 15vw;
    background-color: var(--hex1);
    box-shadow: 0px 0px 15px 4px var(--hex5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 0  0 10px 10px;
    text-align: center;
}

.page__top p {
    color: var(--hex7);
    text-transform: uppercase;
    font-size: 65px;
    margin: 0;
}

.page__bottom {
    width: 103%;
    height: 5vw;
    background-color: var(--hex1);
    box-shadow: 0px 0px 15px 4px var(--hex5);
    border-radius: 10px 10px 0 0;
    margin-top: 80px;
}

.add-catalog {
    height: 150px;
    display: flex;
    margin-top: 50px;
}

.add-catalog_btn {
    width: 280px;
    height: 60px;
    background-color: var(--hex3);
    box-shadow: 3px 2px 15px 2px var(--hex5);
    border: 3px solid var(--hex5);
    border-radius: 10px;
    margin: auto;
    font-size: 30px;
    font-family: "Concert One", Helvetica;
    color: var(--hex7);
    transition: all 0.5s;
}

.search-catalog {
    width: 85vw;
    height: max-content;
    min-height: 95vh;
    background-color: var(--hex5);
    box-shadow: 0px 2px 10px 10px var(--hex4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    margin-right: 20px;
}

.search-catalog h1 {
    color: var(--hex8);
    margin: 20px 30px 0; 
    text-shadow: 0px 0px 10px var(--hex6);
    text-align: center;
    font-size: 40px;
}
.search-catalog .btn-close {
    box-shadow: 0px 0px 5px 1px var(--hex6);
    color: var(--hex8);
}

.search-catalog_top {
    width: 80vw;
    height: max-content;
    min-height: inherit;
    background-color: var(--hex6);
    box-shadow: 0px 0px 15px 5px var(--hex6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 30px;
}

.search-bar {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px;
}

.search-bar button {
    width: 100px;
    height: 45px;
    color: var(--hex7);
    background-color: var(--hex4);
    box-shadow: 2px 2px 15px 5px var(--hex6);
    border: 1px solid var(--hex4);
    border-radius: 10px;
    margin-left: 15px;
    font-size: 16px;
    transition: all 0.3s;
}

.search-bar button:hover{
    transform: scale(1.1);
}

.search-bar input {
    width: 300px;
    height: 40px;
    color: var(--hex6);
    background-color: var(--hex8);
    box-shadow: 2px 2px 15px 5px var(--hex6);
    border-radius: 10px;
    padding: 0 15px 0;
    font-family: 'Concert One', system-ui;
    font-size: 15px;
    outline: none;
}

.search-catalog_results {
    width: 970px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 30px;
    gap: 30px;
}

.page__center {
    width: 76vw;
    min-width: 220px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.div__catalog {
    width: 220px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.div__catalog:hover {
    transform: scale(1.1);
}

.catalog__img {
    width: 220px;
    height: 300px;
    box-shadow: 0px 0px 15px 10px var(--hex5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalog__img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.catalog__img--blur {
    filter: blur(2.5px);
    transition: all 0.4s;
}

.catalog__bottom {
    width: 101%;
    height: 100%;
    max-height: 120px;
    min-height: 90px;
    background-color: var(--hex4);
    box-shadow: 0px 0px 10px 8px var(--hex5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 0 0 10px 10px;
    margin-top: -30px;
}

.catalog__bottom__title {
    max-width: 190px;
    height: max-content;
    color: var(--hex7);
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    line-height: 1.5rem;
}

.catalog__bottom__stars {
    color: var(--hex7);
    text-transform: uppercase;
    margin: 0 0 5px 0;
    text-align: center;
    font-size: 20px;
}

.catalog__bottom span {
    color: var(--hex8);
    font-size: 14px;
}

.catalog__button {
    display: none;
}

.catalog__button--visible {
    width: max-content;
    max-width: 180px;
    height: 50px;
    background-color: var(--hex2);
    box-shadow: 0px 0px 15px 5px var(--hex4);
    border: 1px solid var(--hex4);
    border-radius: 10px;
    display: block;
    position: absolute;
    margin: auto;
    padding: 0 10px 0;
    font-size: 22px;
    font-family: 'Concert One', system-ui;
    text-transform: uppercase;
    color: var(--hex7);
    transition: all 0.5s;
}

.page-background {
    position: fixed;
    opacity: 0%;
    transition: all 0.4s;
}

.page-background--visible {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    overflow: overlay;
    transition: all 0.4s;
    opacity: 100%;
}

.catalog-expanded {
    width: 80vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
    margin-right: 20px;
}

.catalog-expanded__top {
    width: 100%;
    max-width: 630px;
    min-width: 170px;
    height: 100%;
    max-height: 350px;
    background: black;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
}

.top__img {
    min-height: 350px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 15px 10px var(--hex4);
    opacity: 80%;
}

.top__title {
    max-width: 330px;
    height: 40vw;
    display: flex;
    flex-direction: column-reverse;
    min-height: 250px;
    max-height: 320px;
    margin-left: 30px;
    color: var(--hex7);
    position: absolute;
}

.top__title h1 {
    font-size: 35px;
    text-shadow: 0px 0px 10px var(--hex6);
}

.btn-close {
    width: 30px;
    height: 30px;
    background-color: var(--hex4);
    border: 1px solid var(--hex5);
    border-radius: 10px;
    align-self: flex-end;
    margin: 10px;
    position: absolute;
    padding: 3px;
    transition: all 0.4s;
}

.catalog-expanded__description {
    width: 100%;
    max-width: 635px;
    min-width: 170px;
    height: max-content;
    background-color: var(--hex5);
    box-shadow: 0px 2px 10px 10px var(--hex4);
    border-radius: 5px 5px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.description__overview, .description__info, .description__remove {
    width: -webkit-fill-available;
    height: max-content;
    color: var(--hex8);
    background-color: var(--hex6);
    box-shadow: 0px 2px 10px 10px var(--hex6);
    border-radius: 10px;
    padding: 25px;
    margin: 0 2rem 2rem;
    font-size: 18px;
    line-height: 1.5rem;
}

.description__overview {
    margin: 3rem 2rem
}

.description__overview span {
    font-size: 30px;
}

.description__overview p {
    text-align: justify;
    text-indent: 15px;
}

.description__info h1 {
    font-size: 30px;
}

.description__info p {
    margin: 5px 0 2vw 0px;
}

.description__info span {
    font-size: 20px;
    margin: 0;
}

.description__remove {
    text-align: center;
}

.description__btn-remove {
    width: 280px;
    max-width: 55vw;
    height: 60px;
    background-color: var(--hex3);
    box-shadow: 3px 2px 15px 2px var(--hex5);
    border: 3px solid var(--hex5);
    border-radius: 10px;
    margin: auto;
    font-size: 30px;
    font-family: "Concert One", Helvetica;
    color: var(--hex7);
    transition: all 0.5s;
}

@media screen and (max-width: 1270px) {
    .page__center {
        width: 725px;
    }

    .search-catalog_results {
        width: 720px;
    }
}

@media screen and (max-width: 950px) {  
    .page__top p {
        font-size: 40px;
    }
 
    .page__center {
        width: 475px;
    }

    .search-catalog_results {
        width: 470px;
    }

    .search-catalog, .catalog-expanded{
        margin: 15px 0;
    }

    .catalog-expanded > .btn-close {
        width: 100px;
    }

}

@media screen and (max-width: 620px) {
    .page {
        width: 80vw;
    }
    
    .page__top p {
        font-size: 20px;
    }
    
    .page__center, .search-catalog_results{
        width: 220px;
    }
    
    .top__title h1 {
        font-size: 30px;
    }

    .catalog-expanded {
        width: 90vw;
    }
    
    .description__overview, .description__info, .description__remove {
        padding: 1rem 0.5rem;
        margin: 1.5rem 1rem;
    }
    
    .description__info {
        margin: 1rem;
    }
    
    .description__overview span, .description__info h1{
        font-size: 35px;
    }
    
    .description__info span, .description__overview p{
        font-size: 25px;
        line-height: 2rem;
    }
    
    .description__info p {
        margin: 5px 0 20px 0;
    }

    .search-catalog h1 {
        max-width: 300px;
    }
    
    .search-bar {
        flex-direction: column;
        margin: 20px 0;
    }
    
    .search-bar button {
        width: 260px;
        margin: 10px 0 0;
    }

    .search-bar input {
        width: 230px;
    }
}

@media screen and (max-width: 520px) {
    .top__title h1 {
        font-size: 30px;
    }

    .catalog-expanded {
        width: 95vw;
    }

    .catalog-expanded button {
        transform: scale(1.5);
    }

    .search-catalog h1 {
        max-width: 220px;
    }
}