@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

$font-pattern: 'Concert One', monospace;
$font-secondary: 'Courier Prime', monospace;

$color-pattern: #0F4B80;
$color-secondary: #11538C;
$color-tertiary: #1878CC;
$color-quaternary: #0C3C66;
$color-shadow: #082640;
$color-black: #051524;
$color-white: #e1ebf5;
$color-gray: #99a5b3;